.header {
  text-align: right;
  background-color: var(--dark);
  text-decoration: none;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  color: var(--light);
  font-size: 20px;
  font-weight: 600;
}

.logo:hover {
  color: var(--primary);
  transition: 1s;
  cursor: pointer;
}

.display-toggle {
  display: flex;
  background-color: var(--light);
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.display-option {
  padding: 15px;
  color: var(--dark);
  transition: 1s;
}

.selected-display-option {
  background-color: #9c9b97;
  border-radius: inherit;
  transition: 1s;
}

.display-option-desert.selected-display-option,
.display-option-desert:hover {
  color: var(--primary);
}

.display-option-ocean.selected-display-option,
.display-option-ocean:hover {
  color: var(--primary);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input.desert + .slider {
  background-color: var(--primary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary);
}

input.desert + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
