.header {
  text-align: right;
  background-color: var(--dark);
  text-decoration: none;
  padding: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  color: var(--light);
  font-size: 20px;
  font-weight: 600;
}

.logo:hover {
  color: var(--primary);
  transition: 1s;
  cursor: pointer;
}
