.sidebar-item {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  text-decoration: none;
  color: #1d1917;
}

.sidebar-item:hover {
  color: #90432b;
  transition: 0.75s;
  cursor: pointer;
}

.sidebar-item.active {
  color: #90432b;
  transition: 0.75s;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.navigation, .resources {
  display: grid;
  grid-gap: 15px;
}