.app {
  height: 100vh;
  font-family: "Roboto Mono", monospace;
}

.app.desert {
  --primary: #90432b;
  --light: #b5b4b0;
  --dark: #1d1917;
}

.app.ocean {
  --primary: #366171;
  --light: #dce3e6;
  --dark: #1a2326;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
}

.content {
  padding: 5vh 100px;
  display: grid;
  grid-template-columns: 20% 75%;
  grid-gap: 5%;
}

.sections {
  overflow-y: scroll;
  height: 90vh;
  display: grid;
  grid-gap: 100px;
}
