#root {
  height: 100vh;
  font-family: "Roboto Mono", monospace;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
}

.content {
  padding: 5vh 100px;
  display: grid;
  grid-template-columns: 20% 75%;
  grid-gap: 5%;
}

.sections {
  overflow-y: scroll;
  height: 90vh;
  display: grid;
  grid-gap: 100px;
}